<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>

    <connectionStrings>
        <add name="SearchWeb.Properties.Settings.websearchConnectionString" connectionString="Data Source=WF0OATROESRG2OL\SQLEXPRESS;Initial Catalog=websearch;User ID=test;Password=80408228" providerName="System.Data.SqlClient"/>
    </connectionStrings>
  <!-- 
    <connectionStrings>
        <add name="SearchWeb.Properties.Settings.websearchConnectionString"
            connectionString="Data Source=HATSUNEMIKU-PC\SQLEXPRESS;Initial Catalog=websearch;User ID=sa;Password=80408228"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
 -->
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
</configuration>
