<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <connectionStrings>
    <add name="SearchWeb.Properties.Settings.websearchConnectionString" connectionString="Data Source=WF0OATROESRG2OL\SQLEXPRESS;Initial Catalog=websearch;User ID=test;Password=80408228" providerName="System.Data.SqlClient"/>

    <add name="onetimes" connectionString="86400"/> <!-- 一次輪迴時間 -->
    <add name="eledelay" connectionString="1000"/> <!-- 元素查詢間隔 -->
    <add name="delay" connectionString="1000"/> <!-- 動做間隔 -->
    
    <add name="server" connectionString="localhost"/>
    <add name="acc" connectionString="root"/>
    <add name="pass" connectionString="80408228"/>
    <add name="DB" connectionString="test"/>

    <add name="rand" connectionString="100"/>
  </connectionStrings>

  <appSettings>
    <add key="onetimes" value="86400"/>
    <add key="eledelay" value="1000"/>
    <add key="delay" value="1000"/>

    <add key="server" value="localhost"/>
    <add key="acc" value="root"/>
    <add key="pass" value=""/>
    <add key="DB" value="test"/>
  </appSettings>
  
  <!-- 
    <connectionStrings>
        <add name="SearchWeb.Properties.Settings.websearchConnectionString"
            connectionString="Data Source=HATSUNEMIKU-PC\SQLEXPRESS;Initial Catalog=websearch;User ID=sa;Password=80408228"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
 -->
</configuration>
