<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NFU_Add_Order.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <applicationSettings>
        <NFU_Add_Order.Properties.Settings>
            <setting name="NFU_Add_Order_NFU_Service_SimpleService" serializeAs="String">
                <value>http://114.35.57.190:889/NFU_EN/pages/WebService/service.php</value>
            </setting>
            <setting name="NFU_Add_Order_org_tbarusu_www_SimpleService" serializeAs="String">
                <value>http://www.tbarusu.org/pages/WebService/Service.php</value>
            </setting>
        </NFU_Add_Order.Properties.Settings>
    </applicationSettings>
</configuration>
